* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 36px;
    font-family: monospace;
    color: white;
}

section {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: black;
    flex-direction: column;
    padding-bottom: 200px;
}

h1 {
    color: antiquewhite;
    margin: 30px 0 50px;
}


table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 70px;
    height: 70px;
}

tr:nth-child(odd) :nth-child(odd) {
    background-color: #875729;
}

tr:nth-child(odd) :nth-child(even) {
    background-color: #e5c1a4;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: #875729;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: #e5c1a4;
}